{% extends "base.html" %}
{% block content %}

<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>
            {% if item.image_blob_path %}
                <img src="https://dcsinvblob.blob.core.windows.net/inventory-images/{{ item.image_blob_path }}" width="80">
            {% endif %}
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.price }}</td>
    </tr>
    {% endfor %}
</table>




<h2>Add Inventory Item</h2>

<form method="POST" action="{{ url_for('add_inventory') }}" enctype="multipart/form-data">
    
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="category" placeholder="Category" required>
    
    <input type="number" name="quantity" placeholder="Quantity" required min="0">
    <input type="number" step="0.01" name="price" placeholder="Price Estimate per unit" required min="0">

    <label>Image:</label>
    <input type="file" name="image" accept="image/*" required>

    <button type="submit">Add Item</button>

</form>



<a href="{{ url_for('dashboard') }}">← Back to Dashboard</a>

{% endblock %}